@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 去掉b strong加粗 */
b,
strong {
  font-weight: normal;
}
/* 去掉i em倾斜 */
i,
em {
  font-style: normal;
}
/* 去掉li的项目符号 */
li {
  list-style: none;
}
/* 去掉a u s del的修饰线 */
a,
u,
s,
del {
  text-decoration: none;
}
/* 去掉图片下方3-5px间隙 */
img {
  vertical-align: bottom;
}
/* 清除浮动 */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
/* 版心 */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#login_nav {
  padding: 10px 0px 33px 0px;
}
#login_nav .wrapper img {
  width: 186px;
  height: 26px;
}
#login_main {
  height: 600px;
  width: 100%;
  position: relative;
}
#login_main .content_bg {
  background: url("../../img/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#login_main .wrapper .content_ad {
  height: 600px;
}
#login_main .wrapper .content_ad a {
  display: block;
  width: 630px;
  height: 440px;
  margin: 80px 0px 0px 80px;
  position: absolute;
  z-index: 1;
}
#login_main .wrapper .content_login_box {
  width: 350px;
  height: 350px;
  background-color: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: 125px;
  right: 80px;
  z-index: 2;
}
#login_main .wrapper .content_login_box .tab-item {
  position: relative;
  margin-top: 25px;
  margin-left: 24px;
}
#login_main .wrapper .content_login_box .tab-item .qr {
  position: absolute;
  top: -32px;
  right: -16px;
}
#login_main .wrapper .content_login_box .tab-item .qr .icon-qrcode {
  font-size: 52px;
  color: #f40;
  display: block;
}
#login_main .wrapper .content_login_box .tab-item .qr .qr_message {
  width: 106px;
  height: 28px;
  color: #f40;
  border: 1px solid #f3d995;
  background-color: #fefcee;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  position: absolute;
  top: 4px;
  right: 64px;
}
#login_main .wrapper .content_login_box .tab-item li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 64px;
  height: 18px;
  margin: 9px 10px 0px 0px;
  color: #3c3c3c;
  cursor: pointer;
}
#login_main .wrapper .content_login_box .inner-box {
  width: 300px;
  height: 287px;
  margin: 25px auto;
  position: relative;
}
#login_main .wrapper .content_login_box .inner-box .input_box {
  width: 300px;
  height: 42px;
  margin-bottom: 20px;
  font-size: 14px;
  position: relative;
}
#login_main .wrapper .content_login_box .inner-box .input_box input {
  height: 42px;
  width: 300px;
  padding-left: 50px;
  outline: none;
  font-size: 14px;
  border: 1px solid #f1eeee;
}
#login_main .wrapper .content_login_box .inner-box .input_box span {
  display: inline-block;
  width: 40px;
  height: 42px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login_main .wrapper .content_login_box .inner-box .input_box .icon-yonghu,
#login_main .wrapper .content_login_box .inner-box .input_box .icon-mima {
  color: white;
  font-size: 24px;
  position: absolute;
}
#login_main .wrapper .content_login_box .inner-box .submit {
  width: 300px;
  height: 40px;
  background-color: #f40;
  border: 1px solid #f40;
  border-radius: 3px;
  font-size: 16px;
  color: white;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks {
  width: 300px;
  height: 24px;
  margin-top: 16px;
  font-size: 12px;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks a span {
  color: #6c6c6c;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks a .icon-weibo {
  color: #e52425;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks a .icon-zhifubao {
  color: #1ba9ee;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks2 {
  width: 300px;
  height: 18px;
  margin-top: 16px;
  font-size: 12px;
  text-align: right;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks2 a {
  display: inline-block;
  margin-left: 10px;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks2 a span {
  color: #6c6c6c;
}
#login_main .wrapper .content_login_box .inner-box .login_blocks a:hover span,
#login_main .wrapper .content_login_box .inner-box .login_blocks2 a:hover span {
  color: red;
}
#login_main .wrapper .content_login_box .inner-box2 {
  position: absolute;
  top: 80px;
  left: 25px;
}
#login_main .wrapper .content_login_box .inner-box2 .icon-shouji,
#login_main .wrapper .content_login_box .inner-box2 .icon-yanzhengma {
  color: white;
  font-size: 24px;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box {
  width: 300px;
  height: 42px;
  margin-bottom: 20px;
  font-size: 14px;
  position: relative;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box input {
  height: 42px;
  width: 300px;
  padding-left: 50px;
  outline: none;
  font-size: 14px;
  border: 1px solid #f1eeee;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box span {
  display: inline-block;
  width: 40px;
  height: 42px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box .icon-yonghu,
#login_main .wrapper .content_login_box .inner-box2 .input_box .icon-mima {
  color: white;
  font-size: 24px;
  position: absolute;
}
#login_main .wrapper .content_login_box .inner-box2 .submit {
  width: 300px;
  height: 40px;
  background-color: #f40;
  border: 1px solid #f40;
  border-radius: 3px;
  font-size: 16px;
  color: white;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks {
  width: 300px;
  height: 24px;
  margin-top: 16px;
  font-size: 12px;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks a span {
  color: #6c6c6c;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks a .icon-weibo {
  color: #e52425;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks a .icon-zhifubao {
  color: #1ba9ee;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks2 {
  width: 300px;
  height: 18px;
  margin-top: 16px;
  font-size: 12px;
  text-align: right;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks2 a {
  display: inline-block;
  margin-left: 10px;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks2 a span {
  color: #6c6c6c;
}
#login_main .wrapper .content_login_box .inner-box2 .login_blocks a:hover span,
#login_main .wrapper .content_login_box .inner-box2 .login_blocks2 a:hover span {
  color: red;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box {
  position: relative;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box a {
  color: #6c6c6c;
}
#login_main .wrapper .content_login_box .inner-box2 .input_box a:hover {
  color: red;
}
#login_main .wrapper .content_login_box .inner-box3 {
  position: absolute;
  top: 80px;
  left: 25px;
}
#login_main .wrapper .content_login_box .inner-box3 .qr-box {
  width: 300px;
  height: 196px;
}
#login_main .wrapper .content_login_box .inner-box3 .qr-box .qr-top {
  width: 140px;
  height: 140px;
  background-color: #3c3c3c;
  margin: 0 auto;
}
#login_main .wrapper .content_login_box .inner-box3 .qr-box .qr-bottom {
  width: 188px;
  height: 36px;
  margin: 20px auto;
  display: flex;
}
#login_main .wrapper .content_login_box .inner-box3 .qr-box .qr-bottom i {
  font-size: 34px;
  font-weight: bold;
  color: #f40;
}
#login_main .wrapper .content_login_box .inner-box3 .qr-box .qr-bottom p {
  color: #6c6c6c;
  font-size: 12px;
  padding-left: 10px;
}
#login_main .wrapper .content_login_box .inner-box3 .login_blocks2 {
  padding-left: 190px;
}
#login_main .wrapper .content_login_box .inner-box3 .login_blocks2 a span {
  color: #6c6c6c;
  font-size: 12px;
}
#login_main .wrapper .content_login_box > div {
  display: none;
}
#login_main .wrapper .content_login_box .display {
  display: block;
}
#login_footer {
  height: 243px;
  margin-top: 50px;
  margin-bottom: 10px;
}
#login_footer .wrapper {
  height: 243px;
}
#login_footer .wrapper .footer_hd p {
  font-size: 12px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  line-height: 27px;
  padding: 8px 0px;
  margin-bottom: 8px;
}
#login_footer .wrapper .footer_hd p a,
#login_footer .wrapper .footer_hd p b {
  color: #666;
}
#login_footer .wrapper .footer_hd p a {
  margin: 0px 4px;
}
#login_footer .wrapper .footer_hd p b {
  margin: 0px 3px;
}
#login_footer .wrapper .footer_bd p {
  margin-bottom: 8px;
}
#login_footer .wrapper .footer_bd p span {
  margin-right: 4px;
  color: #9c9c9c;
  font-size: 12px;
}
#login_footer .wrapper .footer_bd p span a {
  color: #6c6c6c;
  font-size: 12px;
  margin: 0px 4px ;
}
#login_footer .wrapper .footer_bd p b {
  color: #9c9c9c;
  font-size: 12px;
  margin: 0px 2px;
}
#login_footer .wrapper .footer_bd p em {
  font-size: 12px;
  margin-left: 30px;
  color: #6c6c6c;
}
#login_footer .wrapper .footer_ft {
  height: 60px;
}
#login_footer .wrapper .footer_ft img {
  height: 40px;
}
